html {
    background: #F5F5F5;
    color: #757575;
    font: 10pt "ヒラギノ丸ゴ Pro", "ヒラギノ丸ゴ Pro W4", "HiraMaruPro-W4", "HiraKakuProN-W3", sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    -webkit-app-region: drag;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 32px;
    background: linear-gradient(90deg, #009688, #2196F3);
    color: #EEEEEE;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

a.button:link {
    text-decoration: none;
}

.button,
.buttonActive,
.buttonDestructive {
    display: inline-block;
    margin: 4px 2px;
    padding: 1px 8px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 10pt;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.button:hover,
.buttonActive:hover,
.buttonDestructive:hover {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.button {
    background: #E0E0E0;
    color: #424242;
}

.button[disabled] {
    background: #EEE;
    color: #AAA;
    box-shadow: none;
    cursor: default;
}

.buttonActive {
    background: #2196F3;
    color: #FFF;
}

.buttonDestructive {
    background: #f44336;
    color: #FFF;
}

#main {
    margin-top: 36px;
}

#mainCanvasContainer {
    margin: 0 4px;
    max-width: 95%;
    background: #FFF;
    border: #9E9E9E solid 1px;
    border-radius: 4px;
}

#startText {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    line-height: 300px;
}

#mainCanvas {
    margin: 2px 4px;
}

.blur {
    filter: blur(4px);
}

.dialog {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.dialogInner {
    position: absolute;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 6px;
    padding: 6px;
    background: #FFF;
}

.dialogInner h2 {
    margin: 0;
    padding: 0 4px 4px;
    border-bottom: #AAA dashed 1px;
    font-size: 10pt;
    white-space: nowrap;
}

.dialogCloseButton {
    float: right;
    position: relative;
    top: -6px;
    right: -2px;
}

#dialogAlert p {
    text-align: center;
    margin: 1em 4em;
}

fieldset {
    border: #9E9E9E dashed 1px;
    border-radius: 8px;
}

#ic_file_download {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_file_download_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}

#ic_menu {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_menu_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}

#ic_launch {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_launch_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}
