html {
    background: url('../../images/transparent.png');
    color: #555555;
    font: 10pt "ヒラギノ丸ゴ Pro", "ヒラギノ丸ゴ Pro W4", "HiraMaruPro-W4", "HiraKakuProN-W3", sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    -webkit-app-region: drag;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 40px;
    background: #37474F;
    color: #EEEEEE;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

a.button:link {
    text-decoration: none;
}

.button,
.buttonActive,
.buttonDestructive {
    display: inline-block;
    margin: 4px 2px;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 10pt;
    cursor: pointer;
    -webkit-app-region: no-drag;
    transition: all 0.5s ease-out;
}

.button {
    border: #E0E0E0 solid 1px;
    color: #424242;
}

nav li .button {
    width: 90%;
}

.button:hover,
.button:focus {
    background: #2196F3;
    color: #FFF;
}

.button[disabled] {
    background: #EEE;
    color: #AAA;
    box-shadow: none;
    cursor: default;
}

.buttonActive {
    background: #2196F3;
    color: #FFF;
}

.buttonDestructive {
    background: #f44336;
    color: #FFF;
}

#main {
    margin-top: 44px;
    transition: filter 0.125s ease-in-out;
}

#startText {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    line-height: 300px;
}

#mainCanvas {
    position: absolute;
    margin: 2px 4px;
    image-rendering: pixelated;
}

#handleCanvas {
    position: relative;
    left: -1px;
    top: -1px;
    margin: 2px 4px;
}

input.coords {
    text-align: right;
    width: 4em;
}

.blur {
    filter: blur(4px);
}

.dialogOuter {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: background-color 0.125s ease-in-out;
}

.dialogInner {
    position: absolute;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    min-width: 240px;
    max-width: 95%;
    border-radius: 6px;
    padding: 6px;
    background: #FFF;
}

.dialogInner h2 {
    margin: 0;
    padding: 2px 4px 4px;
    border-bottom: #AAA dashed 1px;
    font-size: 10pt;
    white-space: nowrap;
}

.dialogCloseButton {
    float: right;
    position: relative;
    top: -6px;
    right: -2px;
}

.dialogCloseButton:hover,
.dialogCloseButton:focus {
    background: #f44336;
    color: #FFF;
}

#menuButton {
    display: inline-block;
    padding: 8px 8px;
    cursor: pointer;
}

#dialogMainMenu .dialogInner {
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    transition: transform 0.25s ease-in-out;
}

#dialogAlert .dialogInner {
    transition: opacity 0.125s ease-in, transform 0.125s ease-in-out;
}

#dialogAlert p {
    text-align: center;
    margin: 1em;
}

fieldset {
    border: #9E9E9E dashed 1px;
    border-radius: 8px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    margin: 0.5em 0;
}

#ic_cloud_download {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_cloud_download_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}

#ic_crop {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_crop_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}

#ic_file_download {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_file_download_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}

#ic_folder_open {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_folder_open_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}

#ic_error {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_error_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}

#ic_image {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_image_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}

#ic_launch {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_launch_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}


#ic_menu {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_menu_black_18dp.png') no-repeat;
    background-size: 18px 18px;
}

#ic_menu_white {
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    vertical-align: middle;
    padding: 0;
    background: url('../../ext/material-design-icons/ic_menu_white_18dp.png') no-repeat;
    background-size: 18px 18px;
}